![AIAP Banner](../images/AIAP-Banner.png "AIAP Banner")

<h1><center>Assignment 1 - Part 1: 
<br>
Data Cleaning & Feature Engineering</center></h1>

<h3>Name:</h3>

---

# Before starting...

### How to structure your answers

There are many different ways to approach a problem in AI/ML. When attempting the problems in the notebooks, keep in mind that there is no definite "correct way" to handle any problem. Instead, when choosing which method to use, focus on how current literature approaches the problem, how you intend to evaluate the effectiveness of the solution you are proposing and how to improve the solution if necessary. Similarly, for the "open-ended" questions, it is important to substantiate your answers with supporting reasons. Be sure to bounce your ideas off each other to see how different people approach the same problem!

### Coding conventions

Learning good habits and ensuring your code follows a certain convention is very important in an environment where your code will be shared and read by others. Following the standard conventions highlighted in the [PEP-8 document](https://www.python.org/dev/peps/pep-0008/) is a good start.

### Reproducible Data Pipeline

In the next few sections, you will be creating a data pipeline in a step by step process. At the end of this notebook, you have to combine all of these steps into a Python module named `datapipeline.py` in the [src folder](./src). The module should contain at least a function with the following signature:

```python
def transform(data_path):
  """
  :param data_path: ......
  :return: ......
  """
  return feature_engineered_dataframe
```

Once complete, you will be able to use this function freely in this notebook or other notebooks. This will ensure consistency in the data transformation process.

# 1. Introduction

Most machine learning projects follow a typical flow. 

    - Defining the problem statement
    - Identifying an appropriate dataset
    - Extracting the relevant data from data sources
    - Defining and labelling the dataset
    - Data cleaning
    - Exploring the dataset, refered to as Exploratory Data Analysis (EDA)
    - Feature engineering
    - Selecting and training appropriate models
    - Evaluating the model
    - Repeating the above steps (data identification to model evaluation) until desired performance is achieved
    - Deploying the model
    - Model maintenance and retraining (if necessary)


For this assignment, we will explore clustering in unsupervised learning. Keep this in mind when performing the data preparation steps (data extraction, data cleaning, EDA and feature engineering) in the next sections of this notebook.

#### 1.1. Topics
1. SQL query
2. Data cleaning
3. Exploratory data analysis
4. Feature Engineering
5. Data pipeline

#### 1.2. Deliverables
1. Jupyter notebook
2. Script: `datapipeline.py`

# 2. Data Extraction

The data for this assignment were modified from the US census-income dataset on the UCI dataset repository. **Please do not download the data directly from the UCI repository. Instead, follow the instructions below to query the dataset from our database.** Additionally, please refer to this [link](https://www2.1010data.com/documentationcenter/beta/Tutorials/MachineLearningExamples/CensusIncomeDataSet.html) for a description of the variables.

The data are stored in a database. If you are not familiar with databases, please refer to this [link](https://medium.com/@rwilliams_bv/intro-to-databases-for-people-who-dont-know-a-whole-lot-about-them-a64ae9af712) to obtain a high level overview of databases and their related terms.

The type of database used is an Azure SQL Server instance. SQL Server is Microsoft's RDBMS product offering which uses a variant of SQL (Structured Query Language) called T-SQL (Microsoft Transact-SQL).
There are many resources available online to learn how to write T-SQL and you should be able to find one that fits to your level of understanding. One such resource is on [TutorialsPoint](https://www.tutorialspoint.com/t_sql/index.htm). In addition, you can use Microsoft's [reference pages](https://docs.microsoft.com/en-us/sql/t-sql/language-reference?view=sql-server-ver15) to quickly look up syntax documentation.
At a minimum, you should be able to combine and extract data from multiple tables in an efficient manner so that you can complete your assignments.

If you have trouble accessing the database, you may have to download the Microsoft ODBC Driver. Follow the download instructions for [Windows](https://docs.microsoft.com/en-us/sql/connect/odbc/windows/system-requirements-installation-and-driver-files?view=sql-server-ver15) or [Mac/Linux](https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15#microsoft-odbc-driver-131-for-sql-server).

The data is hosted on an Azure SQL Server with the following details:

    server = 'aiap-training.database.windows.net'
    database = 'aiap'
    username = 'apprentice'
    password = 'Pa55w.rd'
    driver= '{ODBC Driver 17 for SQL Server}'


There are 3 separate tables, `basic_bio`, `employment`, `residential_tax`. All of these tables have an `id` column that can be used to merge them.


The pandas package has a `read_sql_query` function that can be used to access the data. You may require another python package to use this function.

#### 2.1. Query all 3 tables from the SQL server and combine them into a single pandas dataframe. Save this dataframe as a `.csv` file on your local computer with the filepath `assignment1/data/raw/data.csv`.

In [ ]:
import pandas as pd
import pyodbc
import os

In [17]:
server = 'aiap-training.database.windows.net'
database = 'aiap'
username = 'apprentice'
password = 'Pa55w.rd'
driver= '{ODBC Driver 17 for SQL Server}'

with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    df1 = pd.read_sql_query("SELECT * FROM basic_bio", conn)
    df2 = pd.read_sql_query("SELECT * FROM employment", conn)
    df3 = pd.read_sql_query("SELECT * FROM residential_tax", conn)

(199503, 11)
(199503, 24)
(199503, 15)

,id,age,education,enroll_in_edu_inst_last_wk,marital_stat,race,sex,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship
0,0,38,Bachelors degree(BA AB BS),Not in universe,Married-civilian spouse present,White,Male,United-States,United-States,United-States,Native- Born in the United States
1,49,17,11th grade,High school,Never married,Amer Indian Aleut or Eskimo,Male,United-States,United-States,United-States,Native- Born in the United States
2,121,33,High school graduate,Not in universe,Divorced,Black,Female,United-States,United-States,United-States,Native- Born in the United States
3,138,44,Masters degree(MA MS MEng MEd MSW MBA),Not in universe,Married-civilian spouse present,White,Male,United-States,United-States,United-States,Native- Born in the United States
4,153,62,High school graduate,Not in universe,Married-civilian spouse present,White,Female,United-States,United-States,United-States,Native- Born in the United States

In [18]:
df = df1.merge(df2, left_on='id', right_on='id')
df = df.merge(df3, left_on='id', right_on='id')

(199463, 48)

In [19]:
os.makedirs('data/raw', exist_ok=True)  
df.to_csv('data/raw/data.csv')

# 3. Data Cleaning

Whenever we have a new dataset, we need to inspect and clean the dataset.

Some (non-exhaustive) steps in data cleaning are:
    - handling missing values
    - checking for irrelevant rows and/or columns
    - checking for duplicate rows and deciding whether to drop them
    
    
#### 3.1. List the steps you intend to take to clean the data in the markdown cell below. Give a brief explanation for each step.

#### 3.2. Write each data cleaning step as its own function so that they can be reused individually. Ideally, you should organise the functions so that they can be put into their own library. Remember to follow the [PEP8](https://www.python.org/dev/peps/pep-0008/) convention.

# 4. Exploratory Data Analysis

After the data has been cleaned, we now need to perform EDA to get a better understanding of the dataset. As a start, you can consider looking at the distributions of each variable as well as the correlation between each pair of variables. Please explore further if you find any meaningful insights. You can refer to this [book chapter](https://www.stat.cmu.edu/~hseltman/309/Book/chapter4.pdf) for detailed information on EDA.


#### 4.1. Perform EDA on the dataset. Include all figures / statistics you use. Briefly describe the purpose for each EDA step and the finding(s) from each step.

# 5. Feature Engineering

Feature engineering is the process of transforming variables so that they are potentially more useful for the task at hand. Domain expertise is extremely useful for feature engineering. Hence, it is always important to try and understand as much as you can about the problem's domain.

Apart from using domain knowledge, we can also perform some simple feature engineering by aggregating different categories within a variable.

When conducting feature engineering, it is important to keep in mind the task at hand and take reference from the insights that were derived from the EDA. This will ensure that the features that were created will be useful for the task at hand. The main task that you are feature engineering for is unsupervised learning (clustering).

#### 5.1. Engineer 3 new features for this dataset. Briefly explain why you chose these features and how you think they could be useful for clustering.

# 6. Reproducible Data Pipeline

#### 6.1. Finally, take all the code you've written and create a Python module named `datapipeline.py` in the [src folder](./src). The module should at least contain the following function. The transform function should take in the absolute path to the data file as a parameter and return a pandas dataframe.

```python
def transform(data_path):
  """
  :param data_path: ......
  :return: ......
  """
  return feature_engineered_dataframe
```

# 7. Submission


#### 7.1. Create a `conda.yml` file at the base of the assignment folder. Add (manually) your required dependencies to the file named `conda.yml` .

# Explore Clustering Algorithms

Load the '[`A1P2_clustering.ipynb`](A1P2_clustering.ipynb)' notebook and start working from there.

<h1><center>End of Assignment 1 - Part 1: Data Cleaning & Feature Engineering</center></h1>